@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}

<div class="container py-5">
    <div class="row text-center text-white">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Team Page</h1>
            <p class="lead mb-0">Book Application With User and Admin Facing Side, Built Using DotNet Core Web API Tools and MVC</p>
        </div>
    </div>
</div><!-- End -->

<div class="container">
    <div class="row text-center">

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5 ">
            <div class="bg-primary rounded shadow-sm py-5 px-4">

                <img src="~/Images/hon.png" alt="" class="img-fluid rounded-circle mb-3" style="width:100px; height:100px">
                <h5  class="mb-0 text-white">Honoura Oyienemo Michael</h5><span class="small text-uppercase text-white-50">Team Lead</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class='bx bxl-github'></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class='bx bxl-linkedin-square'></i></a></li>
                </ul>
            </div>
        </div><!-- End -->
        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-primary rounded shadow-sm py-5 px-4">
                <img src="~/Images/will.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3">
                <h5 text-dark class="mb-0 text-white">Williams Enabulele</h5><span class="small text-uppercase text-white-50">Team Member - MVC</span>
                <ul class="social mb-0 list-inline mt-3">

                    <li class="list-inline-item"><a href="#" class="social-link"><i class='bx bxl-github'></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class='bx bxl-linkedin-square'></i></a></li>
                </ul>
            </div>
        </div><!-- End -->
        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-primary rounded shadow-sm py-5 px-4">
                <img src="~/Images//emma.png" alt="" width="100" class="img-fluid rounded-circle mb-3">
                <h5 text-dark class="mb-0 text-white">Emmanuel Ajibode</h5><span class="small text-uppercase text-white-50">Team Member - Web API</span>
                <ul class="social mb-0 list-inline mt-3">

                    <li class="list-inline-item"><a href="#" class="social-link"><i class='bx bxl-github'></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class='bx bxl-linkedin-square'></i></a></li>
                </ul>
            </div>
        </div><!-- End -->
        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-primary rounded shadow-sm py-5 px-4">
                <img src="~/Images//firefly.png" alt="" width="100" class="img-fluid rounded-circle mb-3">
                <h5 text-dark class="mb-0 text-white">Abdulhafiz Suleiman</h5><span class="small text-uppercase text-white-50">Team Member - Web API</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class='bx bxl-github'></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class='bx bxl-linkedin-square'></i></a></li>
                </ul>
            </div>
        </div><!-- End -->
    </div>
</div>